<footer class="footer">
    <div class="grid-container">
      <div class="grid-x align-center align-middle" style="padding-top: 2%; padding-bottom: 2%;">
        <div class="small-4 cell knox-column"></div>
        <div class="small-4 cell knox-column">
         <a href="index.html"><img src="img/knox-recipes-logo-blue@4x.png" class="logo" /></a>
        </div>
        <div class="small-4 cell knox-column"></div>
      </div>
      <div class="grid-container">
        <div class="grid-x align-center align-bottom">
          <div class="small-12 cell">
            <h6 class="dark-blue-text"> Knoxville Renowned Recipes</h6>
          </div>
          <div class="small-12 cell">
            <h6 class="dark-blue-text">© Copyright 2025 | All Rights Reserved.</h6>
            <h6 class="dark-blue-text">Built with ❤️ using <a href="https://get.foundation/" target="_blank" class="footer-attribute-link">Foundation 6</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> 