<header>
  <!-- Mobile Menu Toggle -->
  <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
    <a href="index.html"><img src="img/knox-recipes-logo-white.svg" class="top-bar-logo" alt="Home"></a>
    <button class="menu-icon" type="button" data-toggle></button>
  </div>
  
  <!-- Main Navigation -->
  <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
    <!-- Logo -->
    <a href="index.html" class="top-bar-logo hide-for-small-only">
      <img src="img/knox-recipes-logo-white.svg" alt="Knoxville Renowned Recipes Logo" class="logo"/>
    </a>
    
    <!-- Navigation Menu -->
    <div class="top-bar-right">
      <ul class="menu dropdown" data-dropdown-menu>
        <li><a href="index.html">Home</a></li>
        <li><a href="story.html">Our Story</a></li>
        <li>
          <a href="moreinformation.html">More Information</a>
          <ul class="menu">
            <li><a href="sources.html">Sources & Copyright</a></li>
            <li><a href="contact.html">Contact Information</a></li>
            <li><a href="worklog.html">Student Work Log</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header> 